env/
**/__pycache__/*.pyc
ngrok.exe
server.sh
guide-execute.txt
images/
server/target
serve-config/target
core-process/LLM/sentences/
core-process/functions/wav2vec2.onnx
.env
server/server.key
server/server.pem
client/config_tunnel.json
config_tunnel.json
core-process/debug_denoise.wav
fine-tuning-sst/laos-transcript/
fine-tuning-sst/eval-dataset/
fine-tuning-sst/model/
fine-tuning-sst/model.bak/
fine-tuning-sst/vocab.json/
fine-tuning-sst/stt_evaluation_results.csv
fine-tuning-sst/vocab.json