absl-py==2.1.0
accelerate==1.7.0
aiofiles==24.1.0
aiohappyeyeballs==2.3.5
aiohttp==3.10.3
aiosignal==1.3.1
altair==5.4.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.4.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
aria2==0.0.1b0
arrow==1.3.0
asttokens==3.0.0
async-lru==2.0.4
async-timeout==4.0.3
attrs==24.2.0
audio-separator==0.14.3
audioread==3.0.1
av==14.3.0
babel==2.17.0
backoff==2.2.1
beautifulsoup4==4.13.3
bidict==0.23.1
bincode==0.1
bitarray==2.9.2
bleach==6.2.0
boto3==1.37.9
botocore==1.37.9
cachetools==5.5.2
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
click==8.2.0
cmake==4.0.0
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
contourpy==1.2.1
cryptography==40.0.2
cycler==0.12.1
Cython==3.0.11
dataclasses-json==0.5.7
datasets==3.6.0
debugpy==1.8.13
decorator==5.1.1
deemix==3.6.6
deezer-py==1.3.7
defusedxml==0.7.1
dill==0.3.8
docker==7.1.0
einops==0.6.0
evaluate==0.4.3
exceptiongroup==1.2.2
executing==2.2.0
fairseq==0.12.2
faiss-cpu==1.10.0
fastapi==0.115.12
fastjsonschema==2.21.1
ffmpeg==1.4
ffmpeg-python==0.2.0
ffmpy==0.3.1
filelock==3.15.4
flatbuffers==24.3.25
fonttools==4.53.1
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.6.1
future==1.0.0
gdown==5.2.0
gin==0.1.6
gin-config==0.5.0
google-auth==2.38.0
google-auth-oauthlib==1.2.1
gradio==3.34.0
gradio_client==1.3.0
grpcio==1.72.1
grpcio-tools==1.72.1
h11==0.14.0
h2==4.2.0
hf-xet==1.1.4
hpack==4.1.0
httpcore==1.0.5
httptools==0.6.4
httpx==0.27.0
huggingface-hub==0.33.0
humanfriendly==10.0
hydra-core==1.3.2
Hypercorn==0.17.3
hyperframe==6.1.0
idna==3.7
ipykernel==6.26.0
ipython==8.17.2
ipywidgets==8.1.1
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.4
jiwer==3.1.0
jmespath==1.0.1
joblib==1.4.2
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.2.0
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kiwisolver==1.4.5
LaoNLP==1.2.0
lazy_loader==0.4
librosa==0.11.0
lightning==2.5.0.post0
lightning-cloud==0.5.70
lightning-utilities==0.14.0
lightning_sdk==0.2.18
linkify-it-py==2.0.3
lit==18.1.8
litdata==0.2.32
litserve==0.2.6
llvmlite==0.44.0
local-attention==1.8.5
lxml==5.3.0
Markdown==3.6
markdown-it-py==2.2.0
MarkupSafe==2.1.5
marshmallow==3.26.1
marshmallow-enum==1.5.1
matplotlib==3.7.1
matplotlib-inline==0.1.7
mdit-py-plugins==0.3.3
mdurl==0.1.2
mega.py==1.0.8
mistune==3.1.2
mpmath==1.3.0
msgpack==1.1.0
multidict==6.0.5
multiprocess==0.70.16
mutagen==1.47.0
mypy-extensions==1.0.0
narwhals==1.3.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
notebook_shim==0.2.4
Nuitka==2.7.6
numba==0.61.2
numpy==1.26.4
nvidia-cublas-cu11==11.11.3.6
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu11==9.1.0.70
nvidia-cudnn-cu12==9.5.1.17
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.3.0.4
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu11==10.3.0.86
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu11==11.7.5.86
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.6.3
nvidia-nccl-cu11==2.21.5
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu11==11.8.86
nvidia-nvtx-cu12==12.6.77
oauthlib==3.2.2
omegaconf==2.3.0
onnx==1.17.0
onnx2torch==1.5.15
onnxruntime==1.22.0
onnxruntime-gpu==1.13.1
onnxsim==0.4.28
ordered-set==4.1.0
orjson==3.10.7
overrides==7.7.0
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
pastel==0.2.1
pathlib==1.0.1
pedalboard==0.9.16
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.2.2
poethepoet==0.24.4
pooch==1.8.2
portalocker==2.10.1
posix_ipc==1.2.0
praat-parselmouth==0.4.5
priority==2.0.0
prometheus_client==0.21.1
prompt_toolkit==3.0.50
propcache==0.3.0
protobuf==6.31.1
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==20.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
PyAudio==0.2.14
pycparser==2.22
pycryptodome==3.22.0
pycryptodomex==3.22.0
pydantic==1.10.17
pydantic_core==2.27.2
pydub==0.25.1
Pygments==2.18.0
PyJWT==2.10.1
pyOpenSSL==23.1.1
pyparsing==3.1.2
PySocks==1.7.1
pythainlp==5.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.11.2
python-json-logger==3.3.0
python-multipart==0.0.6
python-socketio==5.8.0
pytorch-lightning==2.5.0.post0
pytz==2024.1
pyworld==0.3.5
PyYAML==6.0.2
pyzmq==26.2.1
RapidFuzz==3.13.0
referencing==0.35.1
regex==2024.7.24
requests==2.32.3
requests-oauthlib==2.0.0
resampy==0.4.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.20.0
rsa==4.9
rvc==0.3.5
rvc_infer==2024.6.7.1
s3transfer==0.11.4
sacrebleu==2.4.2
safetensors==0.5.3
scikit-learn==1.5.1
scipy==1.10.1
semantic-version==2.10.0
Send2Trash==1.8.3
simple-term-menu==1.6.6
simple-websocket==1.1.0
six==1.16.0
sniffio==1.3.1
sounddevice==0.4.6
soundfile==0.12.1
soupsieve==2.6
sox==1.5.0
soxr==0.5.0.post1
stack-data==0.6.3
starlette==0.46.2
sympy==1.14.0
tabulate==0.9.0
taskgroup==0.2.2
tenacity==5.1.5
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
terminado==0.18.1
threadpoolctl==3.5.0
tinycss2==1.4.0
tokenizers==0.21.1
tomli==2.2.1
torch==2.7.0+cu118
torchaudio==2.7.0+cu118
torchcrepe==0.0.23
torchfcpe==0.0.3
torchmetrics==1.3.1
torchvision==0.22.0+cu118
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
transformers==4.51.3
triton==3.3.0
types-python-dateutil==2.9.0.20241206
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
uc-micro-py==1.0.3
uri-template==1.3.0
urllib3==2.2.2
uvicorn==0.34.3
uvloop==0.21.0
watchfiles==1.0.4
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==11.0.2
Werkzeug==3.0.3
wget==3.2
widgetsnbextension==4.0.13
wsproto==1.2.0
xxhash==3.5.0
yarl==1.9.4
yt-dlp==2025.3.31
zstandard==0.23.0
